* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(145deg, #aeafaf, #cfd0d0);
    color: aliceblue;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

main {
    border-radius: 22px;
background: linear-gradient(145deg, #aeafaf, #cfd0d0);
box-shadow:  39px 39px 77px #a0a1a1,
             -39px -39px 77px #e2e3e3;
  max-width: 50%;
  margin: 300px;
  padding: 50px;
}

button {
    border-radius: 12px;
    background: linear-gradient(145deg, #aeafaf, #cfd0d0);
    box-shadow:  39px 39px 77px #a0a1a1,
                 -39px -39px 77px #e2e3e3;
             border-style: none ;
             padding: 12px 25px;
}